<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873284623081-gfjosbm4rkl8i58qshumteovcdlofmkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873284623081-gfjosbm4rkl8i58qshumteovcdlofmkg</string>
	<key>API_KEY</key>
	<string>AIzaSyBFJTfZo3kAKA96h68PM5RKerWadPDUEfw</string>
	<key>GCM_SENDER_ID</key>
	<string>873284623081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>seda.L2-toroyanseda</string>
	<key>PROJECT_ID</key>
	<string>myfirstapp-e3448</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstapp-e3448.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873284623081:ios:067d9cc2bd05320f</string>
	<key>DATABASE_URL</key>
	<string>https://myfirstapp-e3448.firebaseio.com</string>
</dict>
</plist>